rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /sessions/{sessionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /customTests/{testId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /leaderboard/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /publishedTests/{testId} {
      allow read: if request.auth != null
                  && (resource.data.visibility == "Public"
                      || resource.data.authorId == request.auth.uid);
      allow create: if request.auth != null && request.resource.data.authorId == request.auth.uid;
      allow update: if request.auth != null
                    && resource.data.authorId == request.auth.uid
                    && request.resource.data.authorId == request.auth.uid;
      allow delete: if request.auth != null && resource.data.authorId == request.auth.uid;
    }
  }
}
